.main-container{
    margin: 5% 5%;
}


.heading-container{
  display: block;
}

.heading{
    font-family: sans-serif;
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 50px;
}

.back{
    display: flex;
    justify-content: center;
}

.back-sign-style{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(226, 34, 21);
    color: white;
    border-radius: 50%;
    font-weight: bold;
    opacity: .7;
}
.line{
    font-size: 25px;
    font-family: sans-serif;
    columns:gray ;
    margin-left: 15px;
}

.card{
    width: 300px;
    height: 350px;
    border: 1px solid rgb(226, 34, 21);
    border-radius: 15px;
    box-shadow: 7px 7px 10px rgb(190 187 187);
    margin-left: 38%;
    margin-top: 25px;
    position: relative;
    font-size:25px;
}


.character-styling{
    margin-left: 40px;
    font-weight: 700;
    color: rgb(226, 34, 21);
}
    

.complete-task{
    margin-left: 40px;
    text-decoration-line :line-through ;
    font-weight: 700;
    color: rgb(226, 34, 21);
}

.checkbox{
    margin-left: 25px;
    color: black;
    font-weight: 900;

}

.add-sign{
    width: 35px;
    height: 35px;
    background-color: rgb(226, 34, 21);
    border-radius: 50%;
    color: white;
    font-size: 30px;
    text-align: center;
    opacity: 0.8;
    position:absolute;
    right: 25px;
    bottom: 25px;
}